@font-face
    font-family font-light
    font-style normal
    src url(../fonts/IBMPlexSans-Light.ttf)

@font-face
    font-family font-medium
    font-style normal
    src url(../fonts/IBMPlexSans-Medium.ttf)

@font-face
    font-family font-bold
    font-style normal
    src url(../fonts/IBMPlexSans-Bold.ttf)

@font-face
    font-family font-semibold
    font-style normal
    src url(../fonts/IBMPlexSans-SemiBold.ttf)

@font-face
    font-family font-mediumitalic
    font-style normal
    src url(../fonts/IBMPlexSans-MediumItalic.ttf)

@font-face
    font-family font-regular
    font-style normal
    src url(../fonts/IBMPlexSans-Regular.ttf)

@font-face
    font-family font-regular2
    font-style normal
    src url(../fonts/IBMPlexMono-Regular.ttf)

body
    background #FFF
    margin 0px
    font-family font-regular
    overflow-x hidden
    color #000

section
    position relative

.btn, input, select, textarea
    &:focus
        box-shadow none !important
form
    display contents

strong
    font-family font-bold

.gracias
    padding 200px 0 70px
    .title
        text-align center
        h3
            font-family font-bold
            font-size 2.8rem
            color #00ac67
        p
            font-size 1.2rem
            color #000
            font-family font-light
            line-height 1.3

#modal1, #modal2, #modal3, #modal4
    .modal-header
        padding 9px 1rem
        border-bottom 0
    .modal-body
        display flex
        justify-content space-around
        a
            text-decoration none
            font-size 1rem
            font-family font-bold
            color #00f
        i
            cursor pointer
        strong
            color #00f

#copy-text
    margin 27px 0 19px
    display block
    font-size .9rem
    color #161616
    line-height 1.3
    border 2px solid #161616
    border-radius 15px
    padding 20px
    span
        font-family font-medium
        color #0f62fe
.btn-copy
    font-size .9rem
    background-color #0f62fe
    padding 3px 25px
    color #FFF
    border-radius 0
    &:hover
        color #FFF

.replay
    background-color #e9ecef
    height 100vh
    .modal-body
        padding-top 10vh
        border 0
        .formulario
            background-color #f4f4f4
            border-radius 5px
            h1
                padding 20px 14px 0
                color #286b94
                font-size 1.5rem
                font-family font-bold
                text-align center
                margin-bottom 20px
            p
                color #286b94
                text-align center
                padding 0 14px 20px
                margin 0
                font-size 1rem
                font-family font-light
        form
            padding 20px 14px
            margin 0
            border-radius 5px
            background-color #f4f4f4
            box-shadow 0 0.5rem 1rem rgba(0, 0, 0, .15) !important
            .form-check
                padding-left calc(var(--bs-gutter-x) * .5)
                .form-check-input
                    margin-left 0
                    &:checked
                        background-image url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23286b94' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e")
                label
                    display flex
                    p
                        padding 0
                        padding-left 5px
                        margin 0
                        margin-bottom 15px
                        font-size .9rem
                        line-height 1.3
                        text-align justify
                        font-family font-light
            .form-group, .select-group
                margin-bottom 15px
            label
                color #286b94
                font-size 1rem
            input, select
                border 1px solid #286b94
                color #286b94
                background-color transparent
                font-size 1rem
            .button_
                text-align center
                .submit_button
                    background-color #286b94
                    color #f4f4f4
                    border 0
                    padding 4px 25px 3px
                    border-radius 6px
                    font-family font-bold
                    font-size 1rem

#exampleModal
    border 0
    .modal-content
        background #FFF
        border 15px solid #0F62FE
        .modal-header
            background transparent
            padding-top 10px
            padding-bottom 0
            border 0
            .btn-close
                opacity 1
                background transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23002D9C'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat
        .modal-body
            padding-top 0px
            border 0
            .formulario
                border-radius 5px
                h1
                    padding 20px 14px 0
                    color #161616
                    font-size 1.5rem
                    font-family font-bold
                    text-align center
                    margin-bottom 20px
                p.p_top
                    color #161616
                    font-family font-medium
                    font-size 1.1rem
                    text-align center
                    margin-bottom 16px
                    line-height 1.3
            form
                padding 20px 14px
                margin 0
                border-radius 5px
                margin-top 13px
                .form-check
                    padding-left calc(var(--bs-gutter-x) * .5)
                    .form-check-input
                        margin-left 0
                        &:checked
                            background-image url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23286b94' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e")
                    label
                        display flex
                        p
                            color #001D6C
                            font-family font-bold
                            padding 0
                            padding-left 5px
                            margin 0
                            margin-bottom 0px
                            font-size .9rem
                            line-height 1.3
                            text-align justify
                .form-group, .select-group
                    margin-bottom 7px
                label
                    color #001D6C
                    font-size 1rem
                    margin-bottom 3px
                input, select
                    border 1px solid #0F62FE
                    color #001D6C
                    background-color transparent
                    font-size 1rem
                    padding-top 1px
                    padding-bottom 1px
                p.p1
                    color #001D6C
                    line-height 1.3
                    margin-bottom 6px
                    font-size .9rem
                    span
                        font-family font-semibold
                p.p2
                    color #001D6C
                    line-height 1.3
                    margin-top 6px
                    margin-bottom 6px
                    font-size .9rem
                    span
                        color #29ABE2
                p.p3
                    color #001D6C
                    font-family font-bold
                    font-size .9rem
                    margin 6px 0 10px
                    code
                        color #FF0000
                .button_
                    text-align center
                    .submit_button
                        background-color #0F62FE
                        color #FFF
                        border 0
                        padding 4px 30px 5px
                        border-radius 0px
                        font-family font-bold
                        font-size 1rem

.header0
    padding 10px 60px
    img
        height 30px

.header
    background-image url(../images/bg_header.png)
    background-size cover
    background-position center
    background-repeat no-repeat
    padding 80px 60px
    h2
        color #161616
        font-size 1.5rem
        font-family font-medium
        margin-bottom 40px
    a.btn-registro
        font-family font-light
        font-size 1rem
        background-color #0F62FE
        border-radius 0
        padding 4px 30px
        color #FFF
        text-decoration none
        &:hover
            color #FFF
    a.header_link
        color #00f
        text-decoration none
        span
            color #FFF

.sec0
    margin 40px 0
    .countdown
        display flex
        flex-wrap wrap
        align-items center
        background-color #E6E6E6
        padding 20px
        border-radius 20px
        width fit-content
        margin auto
        .days
            background-color #1C214F
            padding 7px 15px
            border-radius 10px
            p
                font-size 1.6rem
                color #FFF
                margin 0
                button
                    border-radius 6px
                    font-size 1.8rem
                    font-family font-bold
                    color #FFF
                    border 0
                    background-color #0F62FE
                    letter-spacing 3px
                    cursor unset
        .text
            margin-left 13px
            p
                margin 0
                font-family font-medium
                font-size 1.2rem
                line-height 1.3
                color #161616

.sec1
    padding 40px 60px
    background-color #F1F1F1
    p
        color #001D6C
        font-size 1.1rem
        line-height 1.3
        margin 0
        width 80%

.sec2
    padding 100px 60px 40px
    .content
        display flex
        position relative
        justify-content space-between
        width 70%
        margin auto
        &:before
            content ''
            width 100%
            height 6px
            background-color #D0E2FF
            position absolute
            top -20px
            left 0
        p
            color #001D6C
            font-size 1.1rem
            line-height 1.3
            width 30%
        .p1
            position relative
            &:after
                position absolute
                top -33px
                right 0
                left 0
                margin auto
                content ''
                height 30px
                width 30px
                border-radius 50%
                background-color #002D9C
        .p2
            position relative
            &:after
                position absolute
                top -33px
                right 0
                left 0
                margin auto
                content ''
                height 30px
                width 30px
                border-radius 50%
                background-color #1192E8
        .p3
            position relative
            &:after
                position absolute
                top -33px
                right 0
                left 0
                margin auto
                content ''
                height 30px
                width 30px
                border-radius 50%
                background-color #6929C4
        .p4
            position relative
            &:after
                position absolute
                top -33px
                right 0
                left 0
                margin auto
                content ''
                height 30px
                width 30px
                border-radius 50%
                background-color #08BDBA
    .content1
        margin-bottom 60px

.sec3
    border-top 3px solid #B9BFC7
    padding 60px 60px 80px
    .title
        display flex
        align-items center
        margin-bottom 100px
        img
            height 45px
            margin-right 15px
        h2
            font-family font-bold
            font-size 2rem
            margin 0
            color #001D6C
    .content
        display flex
        position relative
        justify-content space-between
        width 90%
        margin auto
        &:before
            content ''
            width 80%
            height 6px
            background-color #D0E2FF
            position absolute
            top -30px
            left 0
            right 0
            margin auto
        .p1
            position relative
            color #001D6C
            font-size .8rem
            line-height 1.3
            width 20%
            text-align center
            font-family font-regular
            span
                font-size 1rem
            &:after
                position absolute
                top -43px
                right 0
                left 0
                margin auto
                content ''
                height 30px
                width 30px
                border-radius 50%
                background-color #E5F6FF
                border 3px solid #0064FF
            .time
                position absolute
                top -70px
                right 0
                left 0
                margin auto
                p
                    font-size .9rem
                    line-height 1.3
                    margin 0
    .content1
        margin-bottom 100px

.sec4
    padding 60px 60px 80px
    h2
        font-family font-bold
        font-size 2rem
        color #001D6C
        margin-bottom 20px
    p
        font-family font-regular
        font-size 1.5rem
        color #001D6C
        line-height 1.3
        margin 0
    iframe
        height 330px
    #online
        height 650px
    .btn-back
        font-size 1rem
        color #FFF
        border 0
        border-radius 0
        background-color #0F62FE
        font-family font-bold
        margin-top 40px
        padding 7px 25px

.sec5
    border-top 3px solid #B9BFC7
    padding 60px 60px 80px
    .title
        display flex
        align-items center
        margin-bottom 100px
        img
            height 50px
            margin-right 15px
        h2
            font-family font-bold
            font-size 2rem
            margin 0
            color #001D6C
    .tabla
        width 100%
        table
            width 85%
            margin auto
            .date
                color #001D6C
                font-size .9rem
                font-family font-light
                margin 0
                padding 10px 20px
                span
                    font-family font-semibold
            .title1
                font-size 1rem
                color #FFF
                padding 10px 20px 0
                line-height 1.3
                margin 0
            .title22
                font-size 1rem
                color #FFF
                padding 10px 20px 10px
                line-height 1.3
                margin 0
                a
                    color #FFF
                    text-decoration none
            .detail1
                font-size 1.1rem
                color #FFF
                line-height 1.3
                padding 10px 20px
                margin 0
            .arrow
                padding 0 20px 10px
            .title2
                color #001D6C
                font-size 1rem
                padding 10px 20px
                line-height 1.3
                margin 0
                width 60%
            #text2_
                background-color #F2F4F8
            .text2
                color #001D6C
                font-size .8rem
                padding 10px 20px
                line-height 1.3
                margin 0
            .col1
                border-left 3px solid #002D9C
            .col2
                border-left 3px solid #1192E8
            .col3
                border-left 3px solid #6929C4
            .col4
                border-left 3px solid #08BDBA

.sec6
    border-top 3px solid #B9BFC7
    padding 60px 60px 80px
    .content
        display flex
        justify-content space-between
        align-items center
        margin-bottom 60px
        p.p_copy
            font-size 1.4rem
            color #161616
            line-height 1.3
            margin 0
        img
            height 40px
    p
        font-size 1.4rem
        line-height 1.3
        margin 0
        color #565656
        width 70%

@media screen and (max-width:1024px)

    .header0
        padding 15px 20px
        img
            height 30px

    .header
        background-image url(../images/bg_header.png)
        background-size cover
        background-position left
        background-repeat no-repeat
        padding 80px 20px
        h2
            color #161616
            font-size 1.5rem
            font-family font-medium
            margin-bottom 40px
        a.btn-registro
            font-family font-light
            font-size 1.1rem
            background-color #0F62FE
            border-radius 0
            padding 4px 30px
            color #FFF
            text-decoration none
            &:hover
                color #FFF
        a.header_link
            color #00f
            text-decoration none
            span
                color #FFF

    .sec0
        margin 40px 20px
        .countdown
            display flex
            flex-wrap wrap
            align-items center
            background-color #E6E6E6
            padding 20px
            border-radius 20px
            width fit-content
            margin auto
            justify-content center
            .days
                background-color #1C214F
                padding 7px 15px
                border-radius 10px
                margin-bottom 10px
                p
                    font-size 1.6rem
                    color #FFF
                    margin 0
                    button
                        border-radius 6px
                        font-size 1.8rem
                        font-family font-bold
                        color #FFF
                        border 0
                        background-color #0F62FE
                        letter-spacing 3px
                        cursor unset
            .text
                margin-left 13px
                p
                    margin 0
                    font-family font-medium
                    font-size 1.2rem
                    line-height 1.3
                    color #161616
                    text-align center

    .sec1
        padding 40px 20px
        background-color #F1F1F1
        p
            color #001D6C
            font-size 1.1rem
            line-height 1.3
            margin 0
            width 100%

    .sec2
        padding 100px 20px 40px
        .content
            display flex
            position relative
            justify-content space-between
            width 100%
            margin auto
            &:before
                content ''
                width 100%
                height 6px
                background-color #D0E2FF
                position absolute
                top -20px
                left 0
            p
                color #001D6C
                font-size 1.1rem
                line-height 1.3
                width 40%
            .p1
                position relative
                &:after
                    position absolute
                    top -33px
                    right 0
                    left 0
                    margin auto
                    content ''
                    height 30px
                    width 30px
                    border-radius 50%
                    background-color #002D9C
            .p2
                position relative
                &:after
                    position absolute
                    top -33px
                    right 0
                    left 0
                    margin auto
                    content ''
                    height 30px
                    width 30px
                    border-radius 50%
                    background-color #1192E8
            .p3
                position relative
                &:after
                    position absolute
                    top -33px
                    right 0
                    left 0
                    margin auto
                    content ''
                    height 30px
                    width 30px
                    border-radius 50%
                    background-color #6929C4
            .p4
                position relative
                &:after
                    position absolute
                    top -33px
                    right 0
                    left 0
                    margin auto
                    content ''
                    height 30px
                    width 30px
                    border-radius 50%
                    background-color #08BDBA
        .content1
            margin-bottom 60px

    .sec3
        border-top 3px solid #B9BFC7
        padding 50px 20px 20px
        .title
            display flex
            align-items center
            margin-bottom 70px
            img
                height 45px
                margin-right 15px
            h2
                font-family font-bold
                font-size 2rem
                margin 0
                color #001D6C
        .content
            display flex
            flex-direction column
            position relative
            justify-content space-between
            align-items flex-end
            width 100%
            margin unset
            &:before
                content ''
                width 6px
                height 100%
                background-color #D0E2FF
                position absolute
                top 0px
                left -5px
                right unset
                margin unset
            .p1
                position relative
                margin-bottom 45px
                color #001D6C
                font-size .8rem
                line-height 1.3
                width 90%
                text-align center
                font-family font-regular
                span
                    font-size 1rem
                &:after
                    position absolute
                    top 0px
                    right unset
                    left -50px
                    margin unset
                    content ''
                    height 30px
                    width 30px
                    border-radius 50%
                    background-color #E5F6FF
                    border 3px solid #0064FF
                .time
                    position absolute
                    top -20px
                    right unset
                    left -60px
                    margin auto
                    p
                        font-size .85rem
                        line-height 1.3
                        margin 0
        .content1
            margin-bottom 0px

    .sec4
        padding 60px 20px 80px
        h2
            font-family font-bold
            font-size 2rem
            color #001D6C
            margin-bottom 20px
        p
            font-family font-regular
            font-size 1.5rem
            color #001D6C
            line-height 1.3
            margin-bottom 20px
        iframe
            height 280px
        #online
            height 260px !important

    .sec5
        border-top 3px solid #B9BFC7
        padding 60px 2px 80px
        .title
            display flex
            align-items center
            margin-bottom 50px
            img
                height 50px
                margin-right 15px
            h2
                font-family font-bold
                font-size 2rem
                margin 0
                color #001D6C
        .tabla
            width 100%
            overflow-x auto
            table
                width 100%
                margin auto
                .date
                    color #001D6C
                    font-size .85rem
                    font-family font-light
                    margin 0
                    padding 10px 20px
                    span
                        font-family font-semibold
                .title1
                    font-size 1rem
                    color #FFF
                    padding 10px 20px 0
                    line-height 1.3
                    margin 0
                .detail1
                    font-size 1.1rem
                    color #FFF
                    line-height 1.3
                    padding 10px 20px
                    margin 0
                .arrow
                    padding 0 20px 10px
                .title2
                    color #001D6C
                    font-size 1rem
                    padding 10px 20px
                    line-height 1.3
                    margin 0
                    width 60%
                #text2_
                    background-color #F2F4F8
                .text2
                    color #001D6C
                    font-size .85rem
                    padding 10px 20px
                    line-height 1.3
                    margin 0
                .col1
                    border-left 3px solid #002D9C
                .col2
                    border-left 3px solid #1192E8
                .col3
                    border-left 3px solid #6929C4
                .col4
                    border-left 3px solid #08BDBA

    .sec6
        border-top 3px solid #B9BFC7
        padding 60px 20px 80px
        .content
            display flex
            justify-content space-between
            align-items center
            margin-bottom 60px
            p.p_copy
                font-size 1.1rem
                color #161616
                line-height 1.3
                margin 0
            img
                height 20px
        p
            font-size 1.1rem
            line-height 1.3
            margin 0
            color #565656
            width 100%